<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)="onSubmit()" #formRef="ngForm">


        <button class="btn btn-default" type="button"
        (click)="suggestDeaults()">Fill Defaults</button>
        <button class="btn btn-default" type="button"
        (click)="suggestSubscription()">Suggest subscription</button>

        <div id="id_credentials" ngModelGroup="group_credentials"
        #Credentials="ngModelGroup">
          <div class="form-group">
            <label for="id_email">Email ID : </label>
            <input type="email" id="id_email" class="form-control" 
            ngModel name="name_email" required email
            #emailRef="ngModel">
            <span *ngIf="!emailRef.valid && emailRef.touched"
            class="help-block">Please enter a valid Email.</span>
          </div>

          <div class="form-group">
            <label for="id_password">Password : </label>
            <input type="password" id="id_password" class="form-control"
            ngModel name="name_password" required password
            #passwordRef="ngModel">
            <span *ngIf="!passwordRef.valid && passwordRef.touched"
            class="help-block">Please enter a valid
              Password.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="id_subscriptionType">Subscription Type</label>
          <select id="id_subscriptionType" class="form-control" ngModel
          name="name_subscriptionType" required
            #subscriptionTypeRef="ngModel">
            <option *ngFor="let subscriptionType of subscriptionTypes"
            [value]="subscriptionType">{{ subscriptionType }}
            </option>
          </select>
          <span class="help-block" *ngIf="!subscriptionTypeRef.valid 
          && subscriptionTypeRef.touched">Please select a subscription type.</span>
        </div>

        <div class="form-group">
          <span class="help-block" *ngIf="!formRef.valid && formRef.touched">Form is not valid.</span>

        </div>

        <button class="btn btn-primary" type="submit"
        [disabled]="!formRef.valid">Submit</button>

      </form>

      <div *ngIf="submitted">
        <h3>Your data</h3>
        <p>Email : {{ data.email }}</p>
        <p>Password : {{ data.password }}</p>
        <p>Subscription : {{ data.subscriptionType }}</p>
      </div>
    </div>
  </div>
</div>